@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@theme {
  --font-geist: "Geist", sans-serif;
  --color-background: #000;
  --color-foreground: #fff;
}

:root {
  --font-geist: 'Geist', sans-serif;
}

body {
    font-family: var(--font-geist);
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
}
